.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.w-fit-content {
    width: fit-content;
}

.h-fit-content {
    height: fit-content;
}

.img-container {
    position: relative;
}

.upload-img-btn {
    position: absolute;
}  

.edit-icon {
    width: 15px;
    height: 15px;
}