<div class="my-container">
    <mat-card class="animate__animated animate__zoomIn">
      <mat-card-header class="row justify-content-center">
        <mat-card-title class="col text-center">Reset Password</mat-card-title>
        <mat-card-subtitle class="col text-muted my-2"
          >Enter your email to send reset link</mat-card-subtitle
        >
      </mat-card-header>
      <div class="min-w-200 container mt-3">
        <mat-card-content class="row">
          <mat-form-field class="col-12">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="emailFormControl" />
            <mat-error
              *ngIf="
                emailFormControl.hasError('email') &&
                !emailFormControl.hasError('required')
              "
            >
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </mat-card-content>
  
        <mat-card-actions class="row m-0">
          <button
            mat-raised-button
            color="primary"
            class="col-12 mb-1"
            (click)="onSendClick()"
            [disabled]="sending || !form.valid"
          >
            <span class="d-block w-100 text-center">{{ sending ? 'Sending reset link...': 'Send' }}</span>
            <mat-spinner diameter="20" class="spinner" *ngIf="sending"></mat-spinner>
  
          </button>
          <a
            routerLink="/login"
            mat-button
            color="primary"
            class="text-decoration-none col-12 mx-0 mt-1"
            >Back to Login</a
          >
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
  